.link-no-style{
    color: #505050;
    text-decoration: none;
    font-size: 16px;
}

#topbar{
    background-color: #FFED00 !important;
}

#div_carga{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:1;
    opacity: .8;
    background-color: #F5F5F5;
}
#loader{
    position:absolute;
    top: 30%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.buscador-menu:focus{
    background: #ffffff !important;
}

.no-hover:hover{
    color: #232323 !important;
}