#div_carga{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: none;
    z-index:1;
    opacity: .8;
    background-color: #F5F5F5;
}
#loader{
    position:absolute;
    top:50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

.active-custom{
    background-color: #6777ef38;
}

.active-custom > a > span {
    color: #25318b;
}